# example.env
# use `development.env` for development environment
# use `production.env` for production environment
NODE_ENV=development
PORT=3000
DB_URL=mongodb://localhost:27017/your_database_name
JWT_ACCESS_SECRET=<your_jwt_access_secret>
JWT_REFRESH_SECRET=<your_jwt_refresh_secret>
SMTP_USER=<your_smtp_user>
SMTP_PASS=<your_smtp_password>
SMTP_SERVER=smtp.your-email-provider.com
SMTP_PORT=465
API_URL=http://localhost:3000
CLIENT_URL=http://localhost:8080

# external APIs
# obtain from https://cloudinary.com
CLOUDINARY_CLOUD_NAME=<your_cloudinary_cloud_name>
CLOUDINARY_API_KEY=<your_cloudinary_api_key>
CLOUDINARY_API_SECRET=<your_cloudinary_api_secret>

# obtain from https://dadata.ru
DADATA_API_KEY=<your_dadata_api_key>